body {

        
    background-color: slategray;
    font-family: Andale Mono, monospace;
    box-sizing: border-box;
    color: whitesmoke;


}

a{
    color: whitesmoke;
    text-decoration: none;
}



h1 {

    text-align: center;
    
    font-weight: bolder;
    font-size: 100px;
}


.recpies {
    border: 10px solid whitesmoke;
    padding: 20px;
    font-size: 50px;
    text-align: center;
}

